:host {
  display: block;
}

$x-center: 180px;
$card-width: 230px;
$card-height: $card-width * 1.618;
$card-background-scale: 0.8;
$animation-time: 600ms;

strx-card {
  position: absolute;
  left: $x-center - $card-width/2;
  top: 48px;
}

.top-card {
  left: $x-center - $card-width/2;
  z-index: 0;
}

.right-card {
  left: $x-center;
  z-index: -1;
  transform: translate3d(0,0,0) scale($card-background-scale);
}

.left-card {
  left: $x-center;
  z-index: -1;
  transform: translate3d(-$card-width,0,0) scale($card-background-scale);
}

.right2-card {
  left: $x-center;
  z-index: -2;
  transform: translate3d(0,0,0) scale($card-background-scale);
}

.left2-card {
  left: $x-center;
  z-index: -2;
  transform: translate3d(-$card-width,0,0) scale($card-background-scale);
}

.immidiate-transition {
  transition: all 0s;
}

.drag-transition {
  transition: all 0ms;
}

.move-transition {
  //transition: all 2s ease;
  transition: scale $animation-time, transform $animation-time, left $animation-time;
  transition-timing-function: ease;
}

.hidden {
  display: none;
}
